<a href="https://colab.research.google.com/github/cnrgrl/PANDAS/blob/main/06_Boolean_Selection_Multiple_Conditions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# uncomment the following line, if you are using google collab
!rm -r Pandas
!git clone https://github.com/Wuebbelt/Pandas.git

Cloning into 'Pandas'...
remote: Enumerating objects: 77, done.
remote: Counting objects: 100% (77/77), done.
remote: Compressing objects: 100% (66/66), done.
remote: Total 77 (delta 12), reused 75 (delta 10), pack-reused 0
Unpacking objects: 100% (77/77), done.

# Boolean Selection Multiple Conditions

Thus far, our boolean selections involved just a single condition. It is possible to have as many conditions as you would like. To do so, you will need to combine your boolean expressions using the three logical operators, and, or, and not.

## Logical operators

Core Python provides the logical operators `and`, `or`, and `not` to combine multiple conditions together. These operators always return a boolean value. Let's take a look at a few simple examples to review. 

We begin by testing whether five is greater than three and that 10 is greater than 20. There are two conditions here with the first evaluating as `True` and the second as `False`. The `and` operator only returns `True` if both conditions are `True`, so in this case it returns `False`

In [ ]:
5 > 3 and 10 > 20

False

Let's keep the same conditions and change the logical operator to `or` which returns `True` if one or more of the conditions evaluate as `True`.

In [ ]:
5 > 3 or 10 > 20

True

The `not` operator inverts a condition. Below, we invert the last expression. Because `not` has higher precedence than `or`, we use parentheses to ensure the `or` condition is evaluated first.

In [ ]:
not (5 > 3 or 10 > 20)

False

### Different logical operators for boolean Series

These built-in logical operators do not work for creating multiple conditions with a boolean Series. Instead, you must use the following operators.

* `&` for and (ampersand character)
* `|` for or (pipe character)
* `~` for not (tilde character)

Let's use the bikes dataset to make our multiple condition queries.

In [ ]:
import pandas as pd
bikes = pd.read_csv('Pandas/bikes.csv')
bikes.head(3)

   trip_id    usertype gender  ... wind_speed precipitation        events
0     7147  Subscriber   Male  ...       12.7       -9999.0  mostlycloudy
1     7524  Subscriber   Male  ...        6.9       -9999.0  partlycloudy
2    10927  Subscriber   Male  ...       16.1       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Our first multiple condition expression

Let's find all the rides longer than 1,000 seconds by males. This query has two conditions - trip durations greater than 1,000 and a gender of 'Male'. The way we approach the problem is to assign each condition to a separate variable. Since we desire both of the conditions to be true, we must use the and (`&`) operator.
Each single condition is placed on its own line before using the `&` operator to create the final filter that completes the boolean selection.

In [ ]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Male'
filt = filt1 & filt2
bikes[filt].head(3)

    trip_id    usertype gender  ... wind_speed precipitation        events
2     10927  Subscriber   Male  ...       16.1       -9999.0  mostlycloudy
8     21028  Subscriber   Male  ...        0.0       -9999.0        cloudy
10    24383  Subscriber   Male  ...        9.2       -9999.0  mostlycloudy

[3 rows x 19 columns]

## Multiple conditions in one line
It is possible to combine the entire expression into a single line. Many pandas users like doing this so it is a good idea to know how it's done as you will definitely encounter it.

### Use parentheses to separate conditions

You must encapsulate each condition within a set of parentheses in order to make this work. Each condition is separated like this:

```
(bikes['tripduration'] > 1000) & (bikes['events'] == 'cloudy')
```

### Same results

The above expression is placed inside of *just the brackets* to get the same results. Again, I prefer assigning each condition to its own variable name for better readability.

In [ ]:
bikes[(bikes['tripduration'] > 1000) & (bikes['gender'] == 'Male')].head(3)

    trip_id    usertype gender  ... wind_speed precipitation        events
2     10927  Subscriber   Male  ...       16.1       -9999.0  mostlycloudy
8     21028  Subscriber   Male  ...        0.0       -9999.0        cloudy
10    24383  Subscriber   Male  ...        9.2       -9999.0  mostlycloudy

[3 rows x 19 columns]

## Using an `or` condition

Let's find all the rides that were done by females **or** had trip durations longer than 1,000 seconds. In this example, we need at least one of the conditions to be true, which necessitates the use of the or (`|`) operator.

In [ ]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Female'
filt = filt1 | filt2
bikes[filt].head(3)

   trip_id    usertype  gender  ... wind_speed precipitation        events
2    10927  Subscriber    Male  ...       16.1       -9999.0  mostlycloudy
8    21028  Subscriber    Male  ...        0.0       -9999.0        cloudy
9    23558  Subscriber  Female  ...       12.7       -9999.0  mostlycloudy

[3 rows x 19 columns]

## Inverting a condition with the not operator
The tilde character, `~`, represents the not operator and inverts a condition. For instance, if we wanted all the rides with trip duration less than or equal to 1000, we could do it like this:

In [ ]:
filt = bikes['tripduration'] > 1000
bikes[~filt].head(3)

   trip_id    usertype gender  ... wind_speed precipitation        events
0     7147  Subscriber   Male  ...       12.7       -9999.0  mostlycloudy
1     7524  Subscriber   Male  ...        6.9       -9999.0  partlycloudy
3    12907  Subscriber   Male  ...       16.1       -9999.0  mostlycloudy

[3 rows x 19 columns]

Of course, inverting a single conditions like this isn't too useful as we can use the less than or equal to operator instead.

In [ ]:
filt = bikes['tripduration'] <= 1000
bikes[filt].head(3)

   trip_id    usertype gender  ... wind_speed precipitation        events
0     7147  Subscriber   Male  ...       12.7       -9999.0  mostlycloudy
1     7524  Subscriber   Male  ...        6.9       -9999.0  partlycloudy
3    12907  Subscriber   Male  ...       16.1       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Invert a more complex condition
Typically, we save the not operator for reversing more complex conditions. Let's reverse the condition for selecting rides by females or those with duration over 1,000 seconds. Logically, this should return only male riders with duration 1,000 or less.

In [ ]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Female'
filt = ~(filt1 | filt2)
bikes[filt].head(3)

   trip_id    usertype gender  ... wind_speed precipitation        events
0     7147  Subscriber   Male  ...       12.7       -9999.0  mostlycloudy
1     7524  Subscriber   Male  ...        6.9       -9999.0  partlycloudy
3    12907  Subscriber   Male  ...       16.1       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Even more complex conditions

It is possible to build extremely complex conditions to select rows of your DataFrame that meet a very specific query. For instance, we can select males riders with trip duration between 5,000 and 10,000 seconds along with female riders with trip duration between 2,000 and 3,000 seconds. With multiple conditions, it's probably best to break out the logic into multiple steps:

In [ ]:
filt1 = ((bikes['gender'] == 'Male') &
         (bikes['tripduration'] >= 5000) &
         (bikes['tripduration'] <= 10000))

filt2 = ((bikes['gender'] == 'Female') &
         (bikes['tripduration'] >= 2000) &
         (bikes['tripduration'] <= 3000))
filt = filt1 | filt2
bikes[filt].head(3)

     trip_id    usertype  gender  ... wind_speed precipitation        events
18     40924  Subscriber    Male  ...       13.8           0.0        cloudy
173   178550  Subscriber  Female  ...       10.4       -9999.0  mostlycloudy
258   253476  Subscriber  Female  ...        5.8       -9999.0         clear

[3 rows x 19 columns]

## Many equality conditions in a single column

Occasionally, we want to test equality in a single column with multiple values. This is most common in string columns. For instance, let's say we wanted to find all the rides where the events were either rain, snow, tstorms or sleet. One way to do this would be with four or conditions.

In [ ]:
filt = ((bikes['events'] == 'rain') | 
        (bikes['events'] == 'snow') | 
        (bikes['events'] == 'tstorms') | 
        (bikes['events'] == 'sleet'))
bikes[filt].head(3)

    trip_id    usertype gender  ... wind_speed precipitation   events
45    66336  Subscriber   Male  ...        5.8           0.0     rain
78    89180  Subscriber   Male  ...       11.5           0.0  tstorms
79    89228  Subscriber   Male  ...       11.5           0.0  tstorms

[3 rows x 19 columns]

### Use the `isin` method instead

Instead of using an operator, we use the `isin` method. Pass it a list (or a set) of all the values you want to test equality with. The `isin` method returns a boolean Series and in this example, the same exact boolean Series as the previous one.

In [ ]:
filt = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
bikes[filt].head(3)

    trip_id    usertype gender  ... wind_speed precipitation   events
45    66336  Subscriber   Male  ...        5.8           0.0     rain
78    89180  Subscriber   Male  ...       11.5           0.0  tstorms
79    89228  Subscriber   Male  ...       11.5           0.0  tstorms

[3 rows x 19 columns]

### Combining `isin` with other filters
You can use the resulting boolean Series from the `isin` method in the same way as you would from the logical operators. For instance, If we wanted to find all the rides that had the same events as above and had a duration greater than 2,000 we would do the following:

In [ ]:
filt1 = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
filt2 = bikes['tripduration'] > 2000
filt = filt1 & filt2
bikes[filt].head(3)

      trip_id    usertype  gender  ... wind_speed precipitation  events
2344  1266453  Subscriber  Female  ...        6.9          0.07    rain
7697  3557596  Subscriber    Male  ...       12.7          0.00    rain
8357  3801419  Subscriber    Male  ...       11.5          0.00    rain

[3 rows x 19 columns]

## Exercises

Continue to use the bikes dataset for the first few exercises.

### Exercise 1
<span  style="color:green; font-size:16px">Find all the rides where visibility was between 0 and 2.</span>

### Exercise 2

<span  style="color:green; font-size:16px">Find all the rides with trip duration less than 100 done by females.</span>

### Exercise 3

<span  style="color:green; font-size:16px">Find all the rides from 'Daley Center Plaza' to 'Michigan Ave &amp; Washington St'</span>

### Exercise 4

<span  style="color:green; font-size:16px">Find all the rides with temperature greater than 90 or visibility equal to 1 or wind speed greater than 20</span>

### Exercise 5

<span  style="color:green; font-size:16px">Invert the condition from exercise 4.</span>

### Exercise 6

<span  style="color:green; font-size:16px">Are there any rides where the weather event was snow and the temperature was greater than 40?</span>

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [ ]:
import pandas as pd
movie = pd.read_csv('Pandas/movie.csv', index_col='title')
movie.head(3)

                                            year  ... imdb_score
title                                             ...
Avatar                                    2009.0  ...        7.9
Pirates of the Caribbean: At World's End  2007.0  ...        7.1
Spectre                                   2015.0  ...        6.8

[3 rows x 21 columns]

### Exercise 7

<span  style="color:green; font-size:16px">Select all movies from the 1970s.</span>

### Exercise 8

<span  style="color:green; font-size:16px">Select all movies from the 1970s that had IMDB scores greater than 8.</span>

### Exercise 9

<span  style="color:green; font-size:16px">Select movies that were rated either R, PG-13, or PG.</span>

### Exercise 10

<span  style="color:green; font-size:16px">Select movies that are either rated PG-13 or were made after 2010.</span>

### Exercise 11

<span  style="color:green; font-size:16px">Find all the movies that have at least one of the three actors with more than 10,000 Facebook likes.</span>

### Exercise 12

<span  style="color:green; font-size:16px">Invert the condition from exercise 10. In words, what have you selected?</span>