<a href="https://colab.research.google.com/github/cnrgrl/PANDAS/blob/main/09_Miscellaneous_Subset_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# uncomment the following line, if you are using google collab
!rm -r Pandas
!git clone https://github.com/Wuebbelt/Pandas.git

Cloning into 'Pandas'...
remote: Enumerating objects: 86, done.
remote: Counting objects: 100% (86/86), done.
remote: Compressing objects: 100% (74/74), done.
remote: Total 86 (delta 15), reused 82 (delta 11), pack-reused 0
Unpacking objects: 100% (86/86), done.

# Miscellaneous Subset Selection

In this chapter, a few more methods for subset selection are described. The methods used in this chapter do not add any additional functionality to pandas, but are covered for completeness.

I personally do not use the methods described in this chapter and suggest that also avoid them. They are all valid syntax and some pandas users do actually use them so you may find them valuable.

## Selecting a column with dot notation

The best way to select a single column from a DataFrame as a Series is by placing the name of the column within *just the brackets*. There's actually an alternative way to select a single column of data and that is with dot notation. Let's read in the the `sample_data2.csv` dataset.

In [ ]:
import pandas as pd
df = pd.read_csv('Pandas/sample_data2.csv')
df

       name  average score  max
0      Niko             99  100
1  Penelope            100  102
2      Aria             88   93

Place the name of the column directly after the name dot as if it were an attribute.

In [ ]:
df.name.head()

0        Niko
1    Penelope
2        Aria
Name: name, dtype: object

This produces an identical result as using *just the brackets*.

In [ ]:
df['name'].head()

0        Niko
1    Penelope
2        Aria
Name: name, dtype: object

### Avoid dot notation - use just the brackets

Although this method for column selection requires less syntax and is used by many pandas users, it has many downsides. The following is a partial list of the functionality that is impossible using dot notation.

* Select column names with spaces
* Select column names that have the same name as methods
* Select columns with variables

Examples of each scenario will now be covered. Using dot notation does not allow you to select columns with spaces. Selecting the column `average score` raises a syntax error.

In [ ]:
df.average score

SyntaxError: ignored

The only way to select this column is with *just the brackets*.

In [ ]:
df['average score']

0     99
1    100
2     88
Name: average score, dtype: int64

Dot notation is unable to select columns that are the same name as methods. For instance, `max` is a method that all DataFrames have. In this particular DataFrame, it also the name of the column. Attempting to select it via dot notation will access the method.

In [ ]:
df.max

<bound method DataFrame.max of        name  average score  max
0      Niko             99  100
1  Penelope            100  102
2      Aria             88   93>

Again, the only way to select this column is with *just the brackets*.

In [ ]:
df['max']

0    100
1    102
2     93
Name: max, dtype: int64

Dot notation is unable to select a column using a variable name. Let's say we assign the variable `col` to the string 'name' which is the name of the first column. Attempting to select it via dot notation raises an error.

In [ ]:
col = 'name'
df.col

AttributeError: ignored

Once again, use *just the brackets*.

In [ ]:
df[col]

0        Niko
1    Penelope
2        Aria
Name: name, dtype: object

## Slicing rows with just the brackets

So far, we have covered three ways to select subsets of data with *just the brackets*.  You can use a single string, a list of strings, or a boolean Series. Let's quickly review those ways right now using the bikes dataset.

In [ ]:
bikes = pd.read_csv('Pandas/bikes.csv')

### A single string

In [ ]:
bikes['tripduration'].head(3)

0     993
1     623
2    1040
Name: tripduration, dtype: int64

### A list of strings

In [ ]:
cols = ['trip_id', 'tripduration']
bikes[cols].head(3)

   trip_id  tripduration
0     7147           993
1     7524           623
2    10927          1040

### A boolean Series

The previous two examples selected columns. Boolean Series select rows.

In [ ]:
filt = bikes['tripduration'] > 5000
bikes[filt].head(3)

    trip_id    usertype  gender  ... wind_speed precipitation        events
18    40924  Subscriber    Male  ...       13.8           0.0        cloudy
40    61401  Subscriber  Female  ...        8.1       -9999.0  partlycloudy
77    87005  Subscriber  Female  ...        5.8       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Using a slice

It is possible to use slice notation within just the brackets. For example, the following selects the rows beginning at location 2 up to location 10 with a step size of 3. You can even use slice notation when the index is strings.

In [ ]:
bikes[2:10:3]

   trip_id    usertype gender  ... wind_speed precipitation        events
2    10927  Subscriber   Male  ...       16.1       -9999.0  mostlycloudy
5    13595  Subscriber   Male  ...       17.3       -9999.0  mostlycloudy
8    21028  Subscriber   Male  ...        0.0       -9999.0        cloudy

[3 rows x 19 columns]

### I do not recommend using slicing with *just the brackets*

Although slicing with *just the brackets* seems simple, I do not recommend using it. This is because it is ambiguous and can make selections either by integer location or by label. I always prefer explicit, unambiguous methods. Both `loc` and `iloc` are unambiguous and explicit. Meaning that even without knowing anything about the DataFrame, you would be able to explain exactly how the selection will take place. If you do want to slice the rows, then use `loc` if you are using labels or `iloc` if you are using integer location, but do not use *just the brackets*.

## Selecting a single cell with `at` and `iat`

pandas provides two more rarely seen indexers, `at`, and `iat`. These indexers are analogous to `loc` and `iloc` respectively, but only select a single cell of a DataFrame. Since they only select a single cell, you must pass both a row and column selection as either a label (`loc`) or an integer location (`iloc`). Let's see an example of each.

In [ ]:
bikes.at[40, 'temperature']

87.1

In [ ]:
bikes.iat[-30, 5]

389

The current index labels for `bikes` is integers which is why the number 40 was used above. It is the label for a row, but also happens to be an integer.

### What's the purpose of these indexers?

All usages of `at` and `iat` may be replaced with `loc` and `iloc` and would produce the exact same results. These `at` and `iat` indexers are optimized to select a single cell of data and therefore provide slightly better performance than `loc` or `iloc`. Let's verify this below.

In [ ]:
bikes.loc[40, 'temperature']

87.1

In [ ]:
bikes.iloc[-30, 5]

389

### I never use these indexers

Personally, I never use these specialty indexers as the performance advantage for a single selection is minor. It would require a case where single element selections were happening in great numbers to see any significant improvement and doing so is rare in data analysis.

### Much bigger performance improvement using numpy directly

If you truly wanted a large performance improvement for single-cell selection, you would select directly from numpy arrays and not a pandas DataFrame. Below, the data is extracted into the underlying numpy array with the `values` attribute. We then time the performance for selecting with numpy and also with `iat` and `iloc` on a DataFrame. On my machine, `iat` shows a 30-40% improvement over `iloc`, but selecting with numpy is about 50x as fast. There is no comparison here, if you care about performance for selecting a single cell of data, use numpy.

In [ ]:
values = bikes.values

In [ ]:
%timeit -n 5 values[-30, 5]

The slowest run took 6.17 times longer than the fastest. This could mean that an intermediate result is being cached.
5 loops, best of 3: 206 ns per loop

In [ ]:
%timeit -n 5 bikes.iat[-30, 5]

The slowest run took 8.31 times longer than the fastest. This could mean that an intermediate result is being cached.
5 loops, best of 3: 9.25 µs per loop

In [ ]:
%timeit -n 5 bikes.iloc[-30, 5]

5 loops, best of 3: 7.54 µs per loop