<a href="https://colab.research.google.com/github/cnrgrl/PANDAS/blob/main/Solutions_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# uncomment the following line, if you are using google collab
!rm -r Pandas
!git clone https://github.com/Wuebbelt/Pandas.git

Cloning into 'Pandas'...
remote: Enumerating objects: 86, done.
remote: Counting objects: 100% (86/86), done.
remote: Compressing objects: 100% (74/74), done.
remote: Total 86 (delta 15), reused 82 (delta 11), pack-reused 0
Unpacking objects: 100% (86/86), done.

# Solutions

1. [Selecting Subsets of Data from DataFrames with just the brackets](#1.-Selecting-Subsets-of-Data-from-DataFrames-with-just-the-brackets)
1. [Selecting Subsets of Data from DataFrames with `loc`](#2.-Selecting-Subsets-of-Data-from-DataFrames-with-loc)
1. [Selecting Subsets of Data from DataFrames with `iloc`](#3.-Selecting-Subsets-of-Data-from-DataFrames-with-iloc)
1. [Selecting Subsets of Data from a Series](#4.-Selecting-Subsets-of-Data-from-a-Series)
1. [Boolean Selection Single Conditions](#5.-Boolean-Selection-Single-Conditions)
1. [Boolean Selection Multiple Conditions](#6.-Boolean-Selection-Multiple-Conditions)
1. [Boolean Selection More](#7.-Boolean-Selection-More)
1. [Filtering with the query Method](#8.-Filtering-with-the-query-Method)
1. [Miscellaneous Subset Selection](#9.-Miscellaneous-Subset-Selection)

## 1. Selecting Subsets of Data from DataFrames with just the brackets

In [ ]:
import pandas as pd
movie = pd.read_csv('Pandas/movie.csv', index_col='title')

### Exercise 1
<span  style="color:green; font-size:16px">Select the column with the director's name as a Series</span>

In [ ]:
movie['director_name'].head(3)

title
Avatar                                       James Cameron
Pirates of the Caribbean: At World's End    Gore Verbinski
Spectre                                         Sam Mendes
Name: director_name, dtype: object

### Exercise 2
<span  style="color:green; font-size:16px">Select the column with the director's name and number of Facebook likes.</span>

In [ ]:
movie[['director_name', 'director_fb']].head(3)

                                           director_name  director_fb
title
Avatar                                     James Cameron          0.0
Pirates of the Caribbean: At World's End  Gore Verbinski        563.0
Spectre                                       Sam Mendes          0.0

### Exercise 3
<span  style="color:green; font-size:16px">Select a single column as a DataFrame and not a Series</span>

In [ ]:
# make a one item list
col = ['director_name']
movie[col].head(3)

                                           director_name
title
Avatar                                     James Cameron
Pirates of the Caribbean: At World's End  Gore Verbinski
Spectre                                       Sam Mendes

## 2. Selecting Subsets of Data from DataFrames with `loc`

In [ ]:
movie = pd.read_csv('Pandas/movie.csv', index_col='title')
movie.head(3)

                                            year  ... imdb_score
title                                             ...
Avatar                                    2009.0  ...        7.9
Pirates of the Caribbean: At World's End  2007.0  ...        7.1
Spectre                                   2015.0  ...        6.8

[3 rows x 21 columns]

### Exercise 1

<span  style="color:green; font-size:16px">Select columns `actor1`, `actor2`, and `actor3` for the movies Home Alone and Top Gun</span>

In [ ]:
rows = ['Home Alone', 'Top Gun']
cols = ['actor1', 'actor2', 'actor3']
movie.loc[rows, cols]

                     actor1        actor2            actor3
title
Home Alone  Macaulay Culkin  Devin Ratray  Catherine O'Hara
Top Gun          Tom Cruise  Tom Skerritt     Adrian Pasdar

### Exercise 2

<span  style="color:green; font-size:16px">Select columns `actor1`, `actor2`, and `actor3` for the all the movies beginning at Home Alone and ending at Top Gun</span>

In [ ]:
cols = ['actor1', 'actor2', 'actor3']
movie.loc['Home Alone':'Top Gun', cols]

                           actor1          actor2            actor3
title
Home Alone        Macaulay Culkin    Devin Ratray  Catherine O'Hara
3 Men and a Baby      Tom Selleck      Ted Danson  Steve Guttenberg
Tootsie               Bill Murray  Sydney Pollack         Teri Garr
Top Gun                Tom Cruise    Tom Skerritt     Adrian Pasdar

### Exercise 3

<span  style="color:green; font-size:16px">Select just the `director_name` column for the movies Home Alone and Top Gun.</span>

In [ ]:
rows = ['Home Alone', 'Top Gun']
movie.loc[rows, 'director_name']

title
Home Alone    Chris Columbus
Top Gun           Tony Scott
Name: director_name, dtype: object

### Exercise 4

<span  style="color:green; font-size:16px">Repeat exercise 3, but return a DataFramea instead.</span>

In [ ]:
rows = ['Home Alone', 'Top Gun']
cols = ['director_name']
movie.loc[rows, cols]

             director_name
title
Home Alone  Chris Columbus
Top Gun         Tony Scott

### Exercise 5

<span  style="color:green; font-size:16px">Select all columns for the movie 'The Dark Knight Rises'.</span>

In [ ]:
movie.loc['The Dark Knight Rises', :]

year                                                            2012
color                                                          Color
content_rating                                                 PG-13
duration                                                         164
director_name                                      Christopher Nolan
director_fb                                                    22000
actor1                                                     Tom Hardy
actor1_fb                                                      27000
actor2                                                Christian Bale
actor2_fb                                                      23000
actor3                                          Joseph Gordon-Levitt
actor3_fb                                                      23000
gross                                                    4.48131e+08
genres                                               Action|Thriller
num_reviews                                                      813
num_voted_users                                              1144337
plot_keywords      deception|imprisonment|lawlessness|police offi...
language                                                     English
country                                                          USA
budget                                                       2.5e+08
imdb_score                                                       8.5
Name: The Dark Knight Rises, dtype: object

Alternatively, don't include the empty slice.

In [ ]:
# movie.loc['The Dark Knight Rises']

### Exercise 6

<span  style="color:green; font-size:16px">Repeat exercise 5 but return a DataFrame instead.</span>

In [ ]:
movie.loc[['The Dark Knight Rises'], :]

                         year  color  ...       budget  imdb_score
title                                 ...
The Dark Knight Rises  2012.0  Color  ...  250000000.0         8.5

[1 rows x 21 columns]

### Exercise 7

<span  style="color:green; font-size:16px">Select all columns for the movies 'Tangled' and 'Avatar'.</span>

In [ ]:
rows = ['Tangled', 'Avatar']
movie.loc[rows, :]

           year  color content_rating  ...  country       budget  imdb_score
title                                  ...
Tangled  2010.0  Color             PG  ...      USA  260000000.0         7.8
Avatar   2009.0  Color          PG-13  ...      USA  237000000.0         7.9

[2 rows x 21 columns]

Alternatively, omit the empty slice.

In [ ]:
# movie.loc[rows]

### Exercise 7

<span  style="color:green; font-size:16px">What year was 'Tangled' and 'Avatar' made and what was their IMBD scores?</span>

In [ ]:
movie.loc[['Tangled', 'Avatar'], ['year', 'imdb_score']]

           year  imdb_score
title
Tangled  2010.0         7.8
Avatar   2009.0         7.9

### Exercise 8

<span  style="color:green; font-size:16px">Can you tell what the data type of the `year` column is by just looking at its values?</span>

Yes, because it has a decimal value it must be a float. Integers do not have decimals

### Exercise 9

<span  style="color:green; font-size:16px">Use a single method to output the data type and number of non-missing values of `year`. Is it missing any?</span>

In [ ]:
# yes, it's missing many values. 4810 non-missing vs 4916 total
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4916 entries, Avatar to My Date with Drew
Data columns (total 21 columns):
year               4810 non-null float64
color              4897 non-null object
content_rating     4616 non-null object
duration           4901 non-null float64
director_name      4814 non-null object
director_fb        4814 non-null float64
actor1             4909 non-null object
actor1_fb          4909 non-null float64
actor2             4903 non-null object
actor2_fb          4903 non-null float64
actor3             4893 non-null object
actor3_fb          4893 non-null float64
gross              4054 non-null float64
genres             4916 non-null object
num_reviews        4867 non-null float64
num_voted_users    4916 non-null int64
plot_keywords      4764 non-null object
language           4904 non-null object
country            4911 non-null object
budget             4432 non-null float64
imdb_score         4916 non-null float64
dtypes: float64(10), int64(1), object(10)
memory usage: 1004.9+ KB

### Exercise 10

<span  style="color:green; font-size:16px">Select every 300th movie between 'Tangled' and 'Forrest Gump'. Why doesn't 'Forrest Gump' appear in the results?</span>

In [ ]:
# Forrest Gump is not a multiple of 300 away from Tangled
movie.loc['Tangled':'Forrest Gump':300]

               year  color content_rating  ...  country       budget  imdb_score
title                                      ...
Tangled      2010.0  Color             PG  ...      USA  260000000.0         7.8
Cloud Atlas  2012.0  Color              R  ...  Germany  102000000.0         7.5
Doom         2005.0  Color              R  ...       UK   60000000.0         5.2

[3 rows x 21 columns]

## 3. Selecting Subsets of Data from DataFrames with `iloc`

### Exercise 1

<span  style="color:green; font-size:16px">Select the columns with integer location 10, 5, and 1.</span>

In [ ]:
movie.iloc[:, [10, 5, 1]].head(3)

                                                    actor3  director_fb  color
title
Avatar                                           Wes Studi          0.0  Color
Pirates of the Caribbean: At World's End    Jack Davenport        563.0  Color
Spectre                                   Stephanie Sigman          0.0  Color

### Exercise 2

<span  style="color:green; font-size:16px">Select the rows with integer location 10, 5, and 1.</span>

In [ ]:
movie.iloc[[10, 5, 1], :]

                                            year  ... imdb_score
title                                             ...
Batman v Superman: Dawn of Justice        2016.0  ...        6.9
John Carter                               2012.0  ...        6.6
Pirates of the Caribbean: At World's End  2007.0  ...        7.1

[3 rows x 21 columns]

### Exercise 3

<span  style="color:green; font-size:16px">Select rows with integer location 100 to 104 along with the column integer location 5.</span>

In [ ]:
movie.iloc[100:105, 5]

title
The Fast and the Furious                   357.0
The Curious Case of Benjamin Button      21000.0
X-Men: First Class                         905.0
The Hunger Games: Mockingjay - Part 2      508.0
The Sorcerer's Apprentice                  226.0
Name: director_fb, dtype: float64

### Exercise 4

<span  style="color:green; font-size:16px">Select the value at row integer location 100 and column integer location 4.</span>

In [ ]:
movie.iloc[100, 4]

'Rob Cohen'

### Exercise 5

<span  style="color:green; font-size:16px">Return the result of exercise 4 as a DataFrame.</span>

In [ ]:
movie.iloc[[100], [4]]

                         director_name
title
The Fast and the Furious     Rob Cohen

### Exercise 6

<span  style="color:green; font-size:16px">Select the last 5 rows of the last 5 columns.</span>

In [ ]:
movie.iloc[-5:, -5:]

                                                             plot_keywords  ... imdb_score
title                                                                       ...
Signed Sealed Delivered             fraud|postal worker|prison|theft|trial  ...        7.7
The Following                 cult|fbi|hideout|prison escape|serial killer  ...        7.5
A Plague So Pleasant                                                   NaN  ...        6.3
Shanghai Calling                                                       NaN  ...        6.3
My Date with Drew        actress name in title|crush|date|four word tit...  ...        6.6

[5 rows x 5 columns]

### Exercise 7

<span  style="color:green; font-size:16px">Select every 25th row between rows with integer location 100 and 20 and every fifth column.</span>

In [ ]:
movie.iloc[100:200:25, ::5]

                            year  director_fb  ... num_voted_users  imdb_score
title                                          ...
The Fast and the Furious  2001.0        357.0  ...          272223         6.7
Frozen                    2013.0         69.0  ...          421658         7.6
Armageddon                1998.0          0.0  ...          322395         6.6
The Incredible Hulk       2008.0        255.0  ...          326286         6.8

[4 rows x 5 columns]

### Exercise 8

<span  style="color:green; font-size:16px">Select the column with integer location 7 as a Series.</span>

In [ ]:
movie.iloc[:, 7].head(3)

title
Avatar                                       1000.0
Pirates of the Caribbean: At World's End    40000.0
Spectre                                     11000.0
Name: actor1_fb, dtype: float64

### Exercise 9

<span  style="color:green; font-size:16px">Select the rows with integer location 999, 99, and 9 and the columns with integer location 9 and 19.</span>

In [ ]:
rows = [999, 99, 9]
cols = [9, 19]
movie.iloc[rows, cols]

                                        actor2_fb       budget
title
The Iron Giant                              631.0   70000000.0
The Hobbit: An Unexpected Journey           972.0  180000000.0
Harry Potter and the Half-Blood Prince    11000.0  250000000.0

## 4. Selecting Subsets of Data from a Series

In [ ]:
import pandas as pd
movie = pd.read_csv('Pandas/movie.csv', index_col='title')
duration = movie['duration']
duration.head()

title
Avatar                                        178.0
Pirates of the Caribbean: At World's End      169.0
Spectre                                       148.0
The Dark Knight Rises                         164.0
Star Wars: Episode VII - The Force Awakens      NaN
Name: duration, dtype: float64

### Exercise 1

<span  style="color:green; font-size:16px">How long was the movie Titanic?</span>

In [ ]:
duration.loc['Titanic']

194.0

### Exercise 2

<span  style="color:green; font-size:16px">How long was the movie at the 999th integer location?</span>

In [ ]:
duration.iloc[999]

90.0

### Exercise 3

<span  style="color:green; font-size:16px">Select the duration for the movies Hulk, Toy Story, and Cars.</span>

In [ ]:
names = ['Hulk', 'Toy Story', 'Cars']
duration.loc[names]

title
Hulk         138.0
Toy Story     74.0
Cars         117.0
Name: duration, dtype: float64

### Exercise 4

<span  style="color:green; font-size:16px">Select the duration for every 100th movies from Hulk to Cars</span>

In [ ]:
duration.loc['Hulk':'Cars':100]

title
Hulk                     138.0
Live Free or Die Hard    129.0
Valkyrie                 121.0
Yogi Bear                 80.0
Dr. Dolittle 2            87.0
Name: duration, dtype: float64

### Exercise 5

<span  style="color:green; font-size:16px">Select the duration for every 10th movie beginning from the 100th from the end.</span>

In [ ]:
duration.iloc[-100::10]

title
Antarctic Edge: 70° South                72.0
A Dog's Breakfast                        88.0
Penitentiary                             99.0
Peace, Propaganda & the Promised Land    80.0
Supporting Characters                    87.0
Bending Steel                            92.0
Run, Hide, Die                           75.0
Manito                                   79.0
Breaking Upwards                         88.0
Primer                                   77.0
Name: duration, dtype: float64

Read in the bikes dataset and select the `wind_speed` column by executing the cell below and use it for the rest of exercises. Notice that the index labels are integers, meaning that when you use `loc` you will be using integers.

In [ ]:
bikes = pd.read_csv('Pandas/bikes.csv')
wind = bikes['wind_speed']
wind.head()

0    12.7
1     6.9
2    16.1
3    16.1
4    17.3
Name: wind_speed, dtype: float64

### Exercise 6

<span  style="color:green; font-size:16px">What kind of index does the `wind` Series have?</span>

It has a `RangeIndex`

In [ ]:
wind.index

RangeIndex(start=0, stop=50089, step=1)

### Exercise 7
<span  style="color:green; font-size:16px">From the `wind` Series, select the integer locations 4 through, but not including 10</span>

In [ ]:
wind.iloc[4:10]

4    17.3
5    17.3
6    15.0
7     5.8
8     0.0
9    12.7
Name: wind_speed, dtype: float64

### Exercise 8

<span  style="color:green; font-size:16px">Copy and paste your answer to Exercise 7 below but use `loc` instead. Do you get the same result? Why not?</span>

In [ ]:
wind.loc[4:10]

4     17.3
5     17.3
6     15.0
7      5.8
8      0.0
9     12.7
10     9.2
Name: wind_speed, dtype: float64

This is tricky - the index in this case contains integers and not strings. So the labels themselves are also integers and happen to be the same integers corresponding to integer location. The reason `.iloc` and `.loc` produce different results is that `.loc` always includes the last value when slicing.

## 5. Boolean Selection Single Conditions

In [ ]:
bikes = pd.read_csv('Pandas/bikes.csv')
bikes.head(3)

   trip_id    usertype gender  ... wind_speed precipitation        events
0     7147  Subscriber   Male  ...       12.7       -9999.0  mostlycloudy
1     7524  Subscriber   Male  ...        6.9       -9999.0  partlycloudy
2    10927  Subscriber   Male  ...       16.1       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Exercise 1

<span  style="color:green; font-size:16px">Find all the rides with temperature below 0.</span>

In [ ]:
filt = bikes['temperature'] < 0
bikes[filt].head(3)

      trip_id    usertype  gender  ... wind_speed precipitation        events
1871  1071512  Subscriber    Male  ...        6.9       -9999.0  mostlycloudy
2049  1142687  Subscriber  Female  ...       16.1       -9999.0  partlycloudy
2054  1144341  Subscriber    Male  ...       12.7       -9999.0         clear

[3 rows x 19 columns]

### Exercise 2

<span  style="color:green; font-size:16px">Find all the rides with wind speed greater than 30.</span>

In [ ]:
filt = bikes['wind_speed'] > 30
bikes[filt].head(3)

      trip_id    usertype gender  ... wind_speed precipitation        events
2164  1193566  Subscriber   Male  ...       31.1       -9999.0  mostlycloudy
2165  1193760  Subscriber   Male  ...       35.7       -9999.0        cloudy
2479  1320861  Subscriber   Male  ...       31.1       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Exercise 3

<span  style="color:green; font-size:16px">Find all the rides that began from station Millennium Park.</span>

In [ ]:
bikes['from_station_name'] == 'Millennium Park'
bikes[filt].head(3)

      trip_id    usertype gender  ... wind_speed precipitation        events
2164  1193566  Subscriber   Male  ...       31.1       -9999.0  mostlycloudy
2165  1193760  Subscriber   Male  ...       35.7       -9999.0        cloudy
2479  1320861  Subscriber   Male  ...       31.1       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Exercise 4

<span  style="color:green; font-size:16px">Find all the rides with wind speed less than 0. How is this possible?</span>

In [ ]:
# these are likely missing values. 
# The dataset uses -9999 to represent missing values
filt = bikes['wind_speed'] < 0
bikes[filt].head(3)

        trip_id    usertype  gender  ... wind_speed precipitation        events
22990   8976097  Subscriber    Male  ...    -9999.0      -9999.00  mostlycloudy
27168  10412628  Subscriber  Female  ...    -9999.0      -9999.00       unknown
28368  10863258  Subscriber  Female  ...    -9999.0          0.39       tstorms

[3 rows x 19 columns]

### Exercise 5

<span  style="color:green; font-size:16px">Find all the rides where the starting number of bikes at the station (dpcapacity_start) was more than 50.</span>

In [ ]:
filt = bikes['dpcapacity_start'] > 50
bikes[filt].head()

        trip_id    usertype  gender  ... wind_speed precipitation        events
36122  13228203  Subscriber    Male  ...       10.4       -9999.0  partlycloudy
37617  13648506  Subscriber    Male  ...        4.6       -9999.0        cloudy
37920  13750060  Subscriber    Male  ...       12.7       -9999.0  mostlycloudy
37940  13754184  Subscriber  Female  ...       12.7       -9999.0  partlycloudy
39102  14106813  Subscriber    Male  ...       12.7       -9999.0        cloudy

[5 rows x 19 columns]

### Exercise 6

<span  style="color:green; font-size:16px">Did any rides happen in temperature over 100 degrees.</span>

In [ ]:
# no, a dataframe with no rows is returned.
filt = bikes['temperature'] > 100
bikes[filt]

Empty DataFrame
Columns: [trip_id, usertype, gender, starttime, stoptime, tripduration, from_station_name, latitude_start, longitude_start, dpcapacity_start, to_station_name, latitude_end, longitude_end, dpcapacity_end, temperature, visibility, wind_speed, precipitation, events]
Index: []

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [ ]:
import pandas as pd
movie = pd.read_csv('Pandas/movie.csv', index_col='title')
movie.head(3)

                                            year  ... imdb_score
title                                             ...
Avatar                                    2009.0  ...        7.9
Pirates of the Caribbean: At World's End  2007.0  ...        7.1
Spectre                                   2015.0  ...        6.8

[3 rows x 21 columns]

### Exercise 7

<span  style="color:green; font-size:16px">Select all movies that have Tom Hanks as `actor1`. How many of these movies has he starred in?</span>

In [ ]:
filt = movie['actor1'] == 'Tom Hanks'
hanks_movies = movie[filt]
hanks_movies.head(3)

                     year  color  ...       budget  imdb_score
title                             ...
Toy Story 3        2010.0  Color  ...  200000000.0         8.3
The Polar Express  2004.0  Color  ...  165000000.0         6.6
Angels & Demons    2009.0  Color  ...  150000000.0         6.7

[3 rows x 21 columns]

He's starred in 24 movies

In [ ]:
hanks_movies.shape

(24, 21)

### Exercise 8

<span  style="color:green; font-size:16px">Select movies with an IMDB score greater than 9.</span>

In [ ]:
filt = movie['imdb_score'] > 9
movie[filt]

                            year  color  ...      budget  imdb_score
title                                    ...
The Shawshank Redemption  1994.0  Color  ...  25000000.0         9.3
Towering Inferno             NaN  Color  ...         NaN         9.5
Dekalog                      NaN  Color  ...         NaN         9.1
The Godfather             1972.0  Color  ...   6000000.0         9.2
Kickboxer: Vengeance      2016.0    NaN  ...  17000000.0         9.1

[5 rows x 21 columns]

### Exercise 9

<span  style="color:green; font-size:16px">Write a function that accepts a single parameter to find the number of movies for a given content rating. Use the function to find the number of movies for ratings 'R', 'PG-13', and 'PG'.</span>

In [ ]:
def count_rating(rating):
    filt = movie['content_rating'] == rating
    count = len(movie[filt])
    return f'There are {count} movies rated {rating}'

In [ ]:
count_rating('R')

'There are 2067 movies rated R'

In [ ]:
count_rating('PG-13')

'There are 1411 movies rated PG-13'

In [ ]:
count_rating('PG')

'There are 686 movies rated PG'

## 6. Boolean Selection Multiple Conditions

In [ ]:
bikes = pd.read_csv('Pandas/bikes.csv')
bikes.head(3)

   trip_id    usertype gender  ... wind_speed precipitation        events
0     7147  Subscriber   Male  ...       12.7       -9999.0  mostlycloudy
1     7524  Subscriber   Male  ...        6.9       -9999.0  partlycloudy
2    10927  Subscriber   Male  ...       16.1       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Exercise 1
<span  style="color:green; font-size:16px">Find all the rides where visibility was between 0 and 2.</span>

In [ ]:
filt1 = bikes['visibility'] >= 0
filt2 = bikes['visibility'] <= 2
filt = filt1 & filt2
bikes[filt].head(3)

     trip_id    usertype  gender  ... wind_speed precipitation   events
689   528940  Subscriber    Male  ...        6.9          0.03  tstorms
972   666814  Subscriber  Female  ...        3.5      -9999.00      fog
973   666837  Subscriber    Male  ...        3.5      -9999.00      fog

[3 rows x 19 columns]

### Exercise 2

<span  style="color:green; font-size:16px">Find all the rides with trip duration less than 100 done by females.</span>

In [ ]:
filt1 = bikes['tripduration'] < 100
filt2 = bikes['gender'] == 'Female'
filt = filt1 & filt2
bikes[filt].head(3)

      trip_id    usertype  gender  ... wind_speed precipitation        events
2485  1322828  Subscriber  Female  ...       23.0       -9999.0  partlycloudy
3366  1694713  Subscriber  Female  ...       11.5       -9999.0  partlycloudy
3629  1835879  Subscriber  Female  ...        9.2       -9999.0        cloudy

[3 rows x 19 columns]

### Exercise 3

<span  style="color:green; font-size:16px">Find all the rides from 'Daley Center Plaza' to 'Michigan Ave &amp; Washington St'</span>

In [ ]:
filt1 = bikes['to_station_name'] == 'Daley Center Plaza'
filt2 = bikes['from_station_name'] == 'Michigan Ave & Washington St'
filt = filt1 & filt2
bikes[filt]

       trip_id    usertype gender  ... wind_speed precipitation        events
25247  9733603  Subscriber   Male  ...       12.7       -9999.0  mostlycloudy

[1 rows x 19 columns]

### Exercise 4

<span  style="color:green; font-size:16px">Find all the rides with temperature greater than 90 or visibility equal to 1 or wind speed greater than 20</span>

In [ ]:
filt1 = bikes['temperature'] > 90
filt2 = bikes['visibility'] == 1
filt3 = bikes['wind_speed'] > 20
filt = filt1 | filt2 | filt3
bikes[filt].head(3)

    trip_id    usertype gender  ... wind_speed precipitation        events
54    69250  Subscriber   Male  ...        8.1       -9999.0  mostlycloudy
55    69320  Subscriber   Male  ...        8.1       -9999.0  mostlycloudy
56    69613  Subscriber   Male  ...       10.4       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Exercise 5

<span  style="color:green; font-size:16px">Invert the condition from exercise 4.</span>

In [ ]:
filt1 = bikes['temperature'] > 90
filt2 = bikes['visibility'] == 1
filt3 = bikes['wind_speed'] > 20
filt = filt1 | filt2 | filt3
bikes[~filt].head(3)

   trip_id    usertype gender  ... wind_speed precipitation        events
0     7147  Subscriber   Male  ...       12.7       -9999.0  mostlycloudy
1     7524  Subscriber   Male  ...        6.9       -9999.0  partlycloudy
2    10927  Subscriber   Male  ...       16.1       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Exercise 6

<span  style="color:green; font-size:16px">Are there any rides where the weather event was snow and the temperature was greater than 40?</span>

In [ ]:
# no
filt1 = bikes['events'] == 'snow'
filt2 = bikes['temperature'] > 40
filt = filt1 & filt2
bikes[filt]

Empty DataFrame
Columns: [trip_id, usertype, gender, starttime, stoptime, tripduration, from_station_name, latitude_start, longitude_start, dpcapacity_start, to_station_name, latitude_end, longitude_end, dpcapacity_end, temperature, visibility, wind_speed, precipitation, events]
Index: []

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [ ]:
import pandas as pd
movie = pd.read_csv('Pandas/movie.csv', index_col='title')
movie.head(3)

                                            year  ... imdb_score
title                                             ...
Avatar                                    2009.0  ...        7.9
Pirates of the Caribbean: At World's End  2007.0  ...        7.1
Spectre                                   2015.0  ...        6.8

[3 rows x 21 columns]

### Exercise 7

<span  style="color:green; font-size:16px">Select all movies from the 1970s.</span>

In [ ]:
filt1 = movie['year'] >= 1970
filt2 = movie['year'] <= 1979
filt = filt1 & filt2
movie[filt].head(3)

                 year            color  ...      budget  imdb_score
title                                   ...
All That Jazz  1979.0            Color  ...         NaN         7.8
Superman       1978.0            Color  ...  55000000.0         7.3
Solaris        1972.0  Black and White  ...   1000000.0         8.1

[3 rows x 21 columns]

### Exercise 8

<span  style="color:green; font-size:16px">Select all movies from the 1970s that had IMDB scores greater than 8.</span>

In [ ]:
filt1 = movie['year'] >= 1970
filt2 = movie['year'] <= 1979 
filt3 = movie['imdb_score'] > 8
filt = filt1 & filt2 & filt3
movie[filt].head(3)

                   year            color  ...      budget  imdb_score
title                                     ...
Solaris          1972.0  Black and White  ...   1000000.0         8.1
Apocalypse Now   1979.0            Color  ...  31500000.0         8.5
The Deer Hunter  1978.0            Color  ...  15000000.0         8.2

[3 rows x 21 columns]

### Exercise 9

<span  style="color:green; font-size:16px">Select movies that were rated either R, PG-13, or PG.</span>

In [ ]:
filt = movie['content_rating'].isin(['R', 'PG-13', 'PG'])
movie[filt].head(3)

                                            year  ... imdb_score
title                                             ...
Avatar                                    2009.0  ...        7.9
Pirates of the Caribbean: At World's End  2007.0  ...        7.1
Spectre                                   2015.0  ...        6.8

[3 rows x 21 columns]

### Exercise 10

<span  style="color:green; font-size:16px">Select movies that are either rated PG-13 or were made after 2010.</span>

In [ ]:
filt1 = movie['content_rating'] == 'PG-13'
filt2 = movie['year'] > 2010
filt = filt1 | filt2
movie[filt].head(3)

                                            year  ... imdb_score
title                                             ...
Avatar                                    2009.0  ...        7.9
Pirates of the Caribbean: At World's End  2007.0  ...        7.1
Spectre                                   2015.0  ...        6.8

[3 rows x 21 columns]

### Exercise 11

<span  style="color:green; font-size:16px">Find all the movies that have at least one of the three actors with more than 10,000 Facebook likes.</span>

In [ ]:
filt1 = movie['actor1_fb'] > 10000
filt2 = movie['actor2_fb'] > 10000
filt3 = movie['actor3_fb'] > 10000
filt = filt1 | filt2 | filt3
movie[filt].head(3)

                                            year  ... imdb_score
title                                             ...
Pirates of the Caribbean: At World's End  2007.0  ...        7.1
Spectre                                   2015.0  ...        6.8
The Dark Knight Rises                     2012.0  ...        8.5

[3 rows x 21 columns]

### Exercise 12

<span  style="color:green; font-size:16px">Invert the condition from exercise 10. In words, what have you selected?</span>

The following selects non-PG-13 movies made in the year 2010 or before.

In [ ]:
filt1 = movie['content_rating'] == 'PG-13'
filt2 = movie['year'] > 2010
filt = filt1 | filt2
movie[~filt].head(3)

                                              year  ... imdb_score
title                                               ...
Star Wars: Episode VII - The Force Awakens     NaN  ...        7.1
Tangled                                     2010.0  ...        7.8
Harry Potter and the Half-Blood Prince      2009.0  ...        7.5

[3 rows x 21 columns]

## 7. Boolean Selection More

In [ ]:
import pandas as pd
bikes = pd.read_csv('Pandas/bikes.csv')

### Exercise 1
<span  style="color:green; font-size:16px">Select the wind speed column a a Series and assign it to a variable. Are there any negative wind speeds?</span>

In [ ]:
wind = bikes['wind_speed']
wind.head(3)

0    12.7
1     6.9
2    16.1
Name: wind_speed, dtype: float64

Yes, there is really strong negative wind! Or maybe its just bad data...

In [ ]:
filt = wind < 0
wind[filt].head(3)

22990   -9999.0
27168   -9999.0
28368   -9999.0
Name: wind_speed, dtype: float64

### Exercise 2
<span  style="color:green; font-size:16px">Select all wind speed values between 12 and 16.</span>

In [ ]:
filt = wind.between(12, 16)
wind[filt].head(3)

0    12.7
6    15.0
9    12.7
Name: wind_speed, dtype: float64

### Exercise 3
<span  style="color:green; font-size:16px">Select the events and gender columns for all trip durations longer than 1,000 seconds.</span>

In [ ]:
filt = bikes['tripduration'] > 1000
cols = ['events', 'gender']
bikes.loc[filt, cols].head(3)

          events gender
2   mostlycloudy   Male
8         cloudy   Male
10  mostlycloudy   Male

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [ ]:
import pandas as pd
movie = pd.read_csv('Pandas/movie.csv', index_col='title')
movie.head(3)

                                            year  ... imdb_score
title                                             ...
Avatar                                    2009.0  ...        7.9
Pirates of the Caribbean: At World's End  2007.0  ...        7.1
Spectre                                   2015.0  ...        6.8

[3 rows x 21 columns]

### Exercise 4
<span  style="color:green; font-size:16px">Select all the movies such that the Facebook likes for actor 2 are greater than those for actor 1.</span>

There are none!

In [ ]:
filt = movie['actor2_fb'] > movie['actor2_fb']
movie[filt]

Empty DataFrame
Columns: [year, color, content_rating, duration, director_name, director_fb, actor1, actor1_fb, actor2, actor2_fb, actor3, actor3_fb, gross, genres, num_reviews, num_voted_users, plot_keywords, language, country, budget, imdb_score]
Index: []

### Exercise 5
<span  style="color:green; font-size:16px">Select the year, content rating, and IMDB score columns for movies from the year 2016 with IMDB score less than 4.</span>

In [ ]:
filt1 = movie['year'] == 2016
filt2 = movie['imdb_score'] < 4
filt = filt1 & filt2
cols = ['year', 'content_rating', 'imdb_score']

movie.loc[filt, cols]

                         year content_rating  imdb_score
title
Fifty Shades of Black  2016.0              R         3.5
Cabin Fever            2016.0      Not Rated         3.7
God's Not Dead 2       2016.0             PG         3.4

### Exercise 6
<span  style="color:green; font-size:16px">Select all the movies that are missing values for content rating.</span>

In [ ]:
filt = movie['content_rating'].isna()
movie[filt].head(3)

                                                 year  ... imdb_score
title                                                  ...
Star Wars: Episode VII - The Force Awakens        NaN  ...        7.1
Godzilla Resurgence                            2016.0  ...        8.2
Harry Potter and the Deathly Hallows: Part II  2011.0  ...        7.5

[3 rows x 21 columns]

### Exercise 7
<span  style="color:green; font-size:16px">Select all the movies that are missing values for both the gross and budget columns. Return just those columns to verify that those values are indeed missing.</span>

In [ ]:
filt = movie['gross'].isna() & movie['budget'].isna()
cols = ['gross', 'budget']
movie.loc[filt, cols].head(3)

                                            gross  budget
title
Star Wars: Episode VII - The Force Awakens    NaN     NaN
The Lovers                                    NaN     NaN
Godzilla Resurgence                           NaN     NaN

### Exercise 8
<span  style="color:green; font-size:16px">Write a function `find_missing` that has three parameters, `df`, `col1` and `col2` where `df` is a DataFrame and `col1` and `col2` are column names. This function should return all the rows of the DataFrame where `col1` and `col2` are missing. Only return the two columns as well. Answer Exercise 7 with this function.</span>

In [ ]:
def find_missing(df, col1, col2):
    filt = df[col1].isna() & df[col2].isna()
    cols = [col1, col2]
    
    return df.loc[filt, cols]

In [ ]:
movie_missing = find_missing(movie, 'gross', 'budget')
movie_missing.head(3)

                                            gross  budget
title
Star Wars: Episode VII - The Force Awakens    NaN     NaN
The Lovers                                    NaN     NaN
Godzilla Resurgence                           NaN     NaN

## 8. Filtering with the query Method

### Exercise 1

<span  style="color:green; font-size:16px">Use the `query` method to select trip durations between 5000 and 10000.</span>

In [ ]:
bikes.query('5000 <= tripduration <= 10000').head(3)

    trip_id    usertype  gender  ... wind_speed precipitation        events
18    40924  Subscriber    Male  ...       13.8           0.0        cloudy
40    61401  Subscriber  Female  ...        8.1       -9999.0  partlycloudy
77    87005  Subscriber  Female  ...        5.8       -9999.0  mostlycloudy

[3 rows x 19 columns]

### Exercise 2

<span  style="color:green; font-size:16px">Use the `query` method to select trip durations between 5000 and 10000 when the weather was snow or rain. Retrieve the same data with boolean selection.</span>

In [ ]:
bikes.query('5000 <= tripduration <= 10000 and events in ["snow", "rain"]').head(3)

       trip_id    usertype gender  ... wind_speed precipitation  events
8506   3846762  Subscriber   Male  ...       17.3          0.02    rain
13355  5650639  Subscriber   Male  ...        4.6          0.00    rain
22155  8723460  Subscriber   Male  ...       16.1          0.00    snow

[3 rows x 19 columns]

In [ ]:
filt1 = bikes['tripduration'].between(5000, 10000)
filt2 = bikes['events'].isin(['snow', 'rain'])
filt = filt1 & filt2
bikes[filt].head(3)

       trip_id    usertype gender  ... wind_speed precipitation  events
8506   3846762  Subscriber   Male  ...       17.3          0.02    rain
13355  5650639  Subscriber   Male  ...        4.6          0.00    rain
22155  8723460  Subscriber   Male  ...       16.1          0.00    snow

[3 rows x 19 columns]

### Exercise 3

<span  style="color:green; font-size:16px">Use the `query` method to select trip durations between 5000 and 10000 when it was snow or rain. Create a list outside of the query method to hold the weather and reference that variable with `@` within query.</span>

In [ ]:
weather = ["snow", "rain"]
bikes.query('5000 <= tripduration <= 10000 and events in @weather').head(3)

       trip_id    usertype gender  ... wind_speed precipitation  events
8506   3846762  Subscriber   Male  ...       17.3          0.02    rain
13355  5650639  Subscriber   Male  ...        4.6          0.00    rain
22155  8723460  Subscriber   Male  ...       16.1          0.00    snow

[3 rows x 19 columns]

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', 50)
movie = pd.read_csv('Pandas/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 4

<span  style="color:green; font-size:16px">Use the `query` method to find all movies where the total number of Facebook likes for all three actors is greater than 50,000.</span>

In [ ]:
movie.query('actor1_fb + actor2_fb + actor3_fb > 50000').head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Avengers: Age of Ultron,2015.0,Color,PG-13,141.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,Scarlett Johansson,19000.0,458991599.0,Action|Adventure|Sci-Fi,635.0,462669,artificial intelligence|based on comic book|ca...,English,USA,250000000.0,7.5
The Avengers,2012.0,Color,PG-13,173.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,Scarlett Johansson,19000.0,623279547.0,Action|Adventure|Sci-Fi,703.0,995415,alien invasion|assassin|battle|iron man|soldier,English,USA,220000000.0,8.1

### Exercise 5

<span  style="color:green; font-size:16px">Select all the movies the number of user voters is less than 10 times the number of reviews.</span>

In [ ]:
movie.query('num_voted_users < 10 * num_reviews').head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Indignation,2016.0,Color,R,110.0,James Schamus,44.0,Logan Lerman,8000.0,Sarah Gadon,691.0,Tracy Letts,85.0,560512.0,Drama,63.0,550,based on novel,Hebrew,USA,NaN,7.8
Pete's Dragon,2016.0,Color,PG,102.0,David Lowery,38.0,Bryce Dallas Howard,3000.0,Oona Laurence,424.0,Isiah Whitlock Jr.,190.0,NaN,Adventure|Family|Fantasy,78.0,408,NaN,English,USA,65000000.0,7.3
Kicks,2016.0,Color,R,80.0,Justin Tipping,2.0,Tina Gilton,861.0,Natalie Stephany Aguilar,163.0,Justin Hall,102.0,NaN,Adventure,6.0,59,NaN,English,USA,NaN,7.8

### Exercise 6

<span  style="color:green; font-size:16px">Select all the movies made in the 1990s that were rated R with an IMDB score greater than 8.</span>

In [ ]:
movie.query('1990 <= year <= 1999 and content_rating == "R" and imdb_score > 8').head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Terminator 2: Judgment Day,1991.0,Color,R,153.0,James Cameron,0.0,Joe Morton,780.0,Jenette Goldstein,604.0,S. Epatha Merkerson,539.0,204843350.0,Action|Sci-Fi,210.0,744891,future|liquid metal|multiple cameos|sexy woman...,English,USA,102000000.0,8.5
Braveheart,1995.0,Color,R,178.0,Mel Gibson,0.0,Mhairi Calvey,906.0,Patrick McGoohan,466.0,James Robinson,403.0,75600000.0,Biography|Drama|History|War,132.0,736638,14th century|legend|revolt|scotland|tyranny,English,USA,72000000.0,8.4
Saving Private Ryan,1998.0,Color,R,169.0,Steven Spielberg,14000.0,Tom Hanks,15000.0,Vin Diesel,14000.0,Matt Damon,13000.0,216119491.0,Action|Drama|War,219.0,881236,army|invasion|killed in action|normandy|soldier,English,USA,70000000.0,8.6

## 9. Miscellaneous Subset Selection